<div class="resize-container">
  <div class="resize left top"></div>
  <div class="resize left center"></div>
  <div class="resize left bottom"></div>

  <div class="resize right top"></div>
  <div class="resize right center"></div>
  <div class="resize right bottom"></div>

  <div class="resize center top"></div>
  <div class="resize center bottom"></div>
</div>


<div class="frame">
  <div class="header">
    <div class="tabs">

    </div>
    <div class="window-buttons">
      <div
          class="menu-button"
          [title]="$translate('window.header.button.menu')"
          (click)="data.onClickMenuButton"
      >
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div
          class="minimize-button"
          [title]="$translate('window.header.button.minimize')"
          (click)="data.onClickMinimizeButton"
      ></div>
      <div
          class="maximize-button"
          *if="$and($not(data.$isMaximized), data.$enableUserResize)"
          [title]="$translate('window.header.button.maximize')"
          (click)="data.onClickMaximizeButton"
      ></div>
      <div
          class="reduce-button"
          *if="$and(data.$isMaximized, data.$enableUserResize)"
          [title]="$translate('window.header.button.reduce')"
          (click)="data.onClickReduceButton"
      ></div>
      <div
          class="close-button"
          [title]="$translate('window.header.button.close')"
          (click)="data.onClickCloseButton"
      ></div>
    </div>
  </div>

  <div class="content">
    content
    <app-desktop-applications-list></app-desktop-applications-list>
  </div>
</div>

